.round {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  overflow: hidden;
  justify-content: center;
  border: 2px solid black;
 }

.username {
  margin-bottom: 2vh;
}

input {
  border-radius: 1px;
  border: 0;
}

.passemail{
  text-align: right;
  width:75%;
}
.reviews{
  text-align:left;
  margin-bottom: 1vh;
}
.change-password-button {
  margin: 1vw;
}


.profile-card {
  border-radius: 0.5vw;
  // margin: 5vw;
  padding: 3vw;
}

.change-profile-pic-button{
	margin-left:1vw;
}

.add-venmo-tag-button {
	margin-right:1vw;
}

