<!-- Shift + Option + F for auto format -->
<h2>Edit Profile</h2>

<!-- TODO: Link user info with backend -->
<div>
    <div>
        <label class="form-control-label" for="input-first-name">First name</label>
        <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="First name"
            value="not michelle">
    </div>

    <div>
        <label class="form-control-label" for="input-last-name">Last name</label>
        <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Last name"
            value="adslkfjadslkfj">
    </div>

    <div>
        <label class="form-control-label" for="input-password">Password</label>
        <input type="text" id="input-password" class="form-control form-control-alternative" placeholder="Password"
            value="not password" readonly>
        <button class="change-password-button">Change Password</button>
    </div>
        


    <div>
        <label class="form-control-label" for="input-purdue-email">Purdue Email</label>
        <input type="text" id="input-purdue-email" class="form-control form-control-alternative" placeholder="Purdue Email Sample"
            value="alkdsjf@purdue.edu">
    </div>

    <div>
        <button class="update-user-info-button">Update Profile</button>
    </div>
</div>