.round {
	border: 1px solid #777;
	border-radius: 50%;
	max-width: 50%;
	height: auto;
}

.username{
	margin-bottom:2vh;
}

.change-password-button{
	margin:1vw;
}

.change-profile-pic-button{
	margin-right:1vw;
}

.profile-card {
	background-color: rgb(146, 144, 144);
	border-radius:.5vw;
    margin:5vw;
	padding:3vw;
}