<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<div class="header">
    <h1>Reset Password Page</h1>
</div>
<div class="register">
    <form>
        <div class="inputContainer">
            <label for="email"><b>Please enter your email below</b></label><br>
            <input [(ngModel)]="accountEmail" type="text" placeholder="Enter Email" name="email" id="email" required><br>


            <a mat-raised-button color="warn" (click)="reset()" type="submit" class="loginBtn">Reset</a>
        </div>
    </form>
</div>