{% extends "listing/base.html" %}
{% block title %}Listing Create{% endblock %}
{% block head %}
    {{ block.super }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }
  </style>
{% endblock %}
{% block content %}
    <h1>Add New Listing</h1>

    <form method="POST" action="{% url 'add_listing' %}">
        <div class="mb-3">
          <label for="listing_name" class="form-label">Name</label>
          <input type="text" class="form-control" id="listing_name" name="listing_name">
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="text" class="form-control" id="price" name="price">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="cancel" class="btn btn-primary">Cancel</button>
      </form>
{% endblock %}
         
