.images {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  overflow: hidden;
  justify-content: center;
  border: 2px solid black;
 }

h1{
    text-align: center;
}

label{
    text-align: center;
}

.inputContainer {
    margin: auto;
    width: 30%;
    border: 3px solid black;
    border-radius: 25px;
    padding: 10px;
}

.loginContainer {
  margin: auto;
  width:30%;
}


input[type=text] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border-radius: 25px;
  border: solid;
  background: #FFF8DC;
}

input[type=text]:focus {
  background-color: #F0F8FF;
}

.submitBtn:hover {
  opacity:0.8;
}

.submitBtn {
  display: block;
  margin: auto;
  width: 30%;
}