<div class="header">
    <h1><img  class="images" src="./assets/logo.png"/><br>Retrieve Username</h1>
</div>
<div class="retrieveUsername">
    <form>
        <div class="inputContainer">
            <label for="email"><b>Email</b></label><br>
            <input [(ngModel)]="accountEmail" type="text" placeholder="Enter Email" name="email" id="email" required><br>
        
            <label for="pass"><b>Password</b></label><br>
            <input [(ngModel)]="accountPassword" type="text" placeholder="Enter Password" name="pass" id="pass" required><br>
        
            <a mat-raised-button color="accent" (click)="verifyAndRetrieve()" type="submit" class="submitBtn">Submit</a>
        </div>
        
        <div class="loginContainer">
            <p>Already have an account? <a href="login">Sign in here</a></p>
        </div>
    </form>
</div>