<div class="header">
    <h1>Change Password Page</h1>
</div>

<div class="inputContainer">
    <label for="pass2"><b>New Password</b></label><br>
    <input id="new-password" [(ngModel)]="newPassword" placeholder="Enter New Password" type="text">
    <br>
    <label for="pass2"><b>Repeat Password</b></label><br>
    <input id="new-password" [(ngModel)]="repeatPassword" placeholder="Confirm New Password" type="text">
    <br>
    <button type="button" (click)="updatePasswordInfo()"> Submit</button>
</div>
