<div class="header">
    Create a Product Listing
</div>
<div class="create">
    <form>
        <div class="inputContainer">
            <label for="name"><b>Product Name</b></label><br>
            <input [(ngModel)]="name" type="text" name="name" required><br>

            <label for="price"><b>Price</b></label><br>
            <input [(ngModel)]="price" 
                name="price"
                placeholder="$0.00" 
                (blur)="transformPrice($event)" 
                required><br>

            <label for="stock"><b>Amount in stock</b></label><br>
            <input [(ngModel)]="stock"
                name="stock"
                type="number"
                placeholder="1"
                required><br>

            <label for="description"><b>Description</b></label><br>
            <textarea [(ngModel)]="description"
                rows="8"
                cols="40"
                type="text" 
                name="description" 
                required>
            </textarea><br>

            <button (click)="submit()" type="submit">Create Listing</button>
        </div>
    </form>
</div>