<meta name="viewport" content="width=device-width,initial-scale=1"/>
<app-site-menu></app-site-menu>
<div class="header">
    <h1>Create Listing</h1>
</div>
<div class="create">
    <form class="create-form">
        <div class="inputContainer">
            <mat-form-field class="productInputBox" appearance="fill">
                <mat-label>Product Name</mat-label>
                <input matInput [(ngModel)]="name" type="text" name="name" required>
            </mat-form-field><br>

            <mat-form-field class="productInputBox" appearance="fill">
                <mat-label>Price</mat-label>
                <input matInput [(ngModel)]="price" 
                name="price"
                placeholder="$0.00" 
                (blur)="onBlurPrice($event)" 
                required>
            </mat-form-field><br>

            <mat-form-field class="productInputBox" appearance="fill">
                <mat-label>Amount in stock</mat-label>
                <input matInput [(ngModel)]="stock"
                name="stock"
                type="number"
                placeholder="1"
                required>
            </mat-form-field><br>

            <mat-form-field class="productInputDescription" appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput [(ngModel)]="description"
                    rows="8"
                    cols="40"
                    type="text" 
                    name="description" 
                    required>
                </textarea>
            </mat-form-field><br>

            <mat-form-field class="productInputList" appearance="fill">
                <mat-label>Product Type</mat-label>
                <mat-select class="productInputListSelect" name="type" [(ngModel)]="type" >
                    <mat-option value="Food">Food</mat-option>
                    <mat-option value="Electronic">Electronic</mat-option>
                  </mat-select>
            </mat-form-field><br>

            <mat-form-field class="productInputList" appearance="fill">
                <mat-label>Brand</mat-label>
                <mat-select class="productInputListSelect" name="brand" [(ngModel)]="brand" >
                    <mat-option value="Acer">Acer</mat-option>
                    <mat-option value="Lenovo">Lenovo</mat-option>
                  </mat-select>
            </mat-form-field><br>

            <div class="productInputCheckbox" appearance="fill">
                <mat-label><b>Pickup / Delivery</b></mat-label><br><br>
                <mat-checkbox  [checked]="canMeet" (change)="canMeet = !canMeet">Willing to meet up</mat-checkbox><br>
                <mat-checkbox  type="checkbox" [checked]="canShip" (change)="canShip = !canShip">Willing to ship</mat-checkbox>
                <mat-form-field class="productInputShipping" appearance="fill" *ngIf="canShip == true">
                    <mat-label for="shipPrice"><b>Shipping Price</b></mat-label><br>
                    <input matInput [(ngModel)]="shipPrice"
                        name="shipPrice"
                        placeholder="$0.00" 
                        (blur)="onBlurShipPrice($event)" 
                        required><br>
                </mat-form-field>
            </div>

            <div class="form-group">
                <label for="locations">Locations:</label>
                <div *ngFor="let location of locationList; let i = index">
                    <label>
                        <input type="checkbox"
                               name="location"
                               value="{{location.value}}"
                               [(ngModel)]="location.checked"/>
                        {{location.name}}
                    </label>
                </div>
            </div>

            <div class="productUploadPicBox" appearance="fill">
                <div class="ploadPic" class="UploadPic">
                    <mat-label><b>Upload Pictures</b></mat-label><br><br>
                    <app-picture-upload-new #picUpload [maxImages]="10"></app-picture-upload-new>
                </div>
            </div>

            <a mat-raised-button class="submitButton" color="accent" (click)="submit()" type="submit">Create Listing</a>
        </div>
    </form>
</div>