@media screen and (min-width: 1000px) {
    .create {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    .create-form{
        width: 90%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 25px;
        border: 2px solid black;
    }

    .column {
        float: left;
        width: 45%;
        padding: 2vw;
      }

    .productInputBox {
        margin-bottom: 2vh;
        width: 33vw;
        height:9vh;
        border-radius:2vw;
    }

    .productInputDescription {
        width: 33vw;
        border-radius:.5vw;
    }

    .productInputList{
        width: 33vw;
        height:9vh;
        margin-bottom: 2vh;
        border-radius:2vw;
    }

    .productInputListSelect{
        width: 33vw;
        margin: 1vw;
        margin-bottom: -5vh;
        border-radius:.5vw;
    }

    .productInputCheckbox {
        width: 33vw;
        margin-top: 3vh;

        padding-left: 4vw;
        border-radius:.5vw;

    }

    .tags{
        display: flex;
        justify-content: left;
        align-items: center;
        width: 33vw;
        margin-left: 4vw;
    }

    .productInputShipping {
        margin-top: 1vh;
        // padding-left: 1vw;
        width: 33vw;
        border-radius:.5vw;
    }



    .mat-checkbox-label{
        text-overflow: ellipsis;
    }

    .productUploadPicBox{
        margin-top: 4vh;
        padding-left: 4vw;
        width: 33vw;
        text-align: center;
        border-radius:.5vw;
    }

    .submitButton{
        width: 29vw;
        margin:auto;
        margin-bottom:2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}


@media screen and (max-width: 999px) {
    .create {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .inputContainer {
        padding: 2vw;
        width: 70vw;
        border-radius:1vw;
        margin-bottom: 2vh;
    }

    .productInputBox {
        margin-bottom: 2vh;
        width: 70vw;
        height:9vh;
        border-radius:.5vw;
    }

    .productInputDescription {
        width: 70vw;
        margin-top: 2vh;
        border-radius:.5vw;
    }

    .productInputList{
        width: 70vw;
        margin-top: 2vh;
        border-radius:.5vw;
    }

    .productInputListSelect{
        width: 64vw;
        margin: 1vw;
        margin-bottom: -5vh;
        border-radius:.5vw;
    }

    .productInputCheckbox {
        width: 66vw;
        margin-top: 2vh;
        padding: 2vw;
        border-radius:.5vw;
    }


    .productInputShipping {
        margin-top: 1vh;
        margin-bottom: 2vh;
        width: 66vw;
        border-radius:.5vw;
    }



    .productUploadPicBox{
        margin-top: 2vh;
        padding: 2vw;
        width: 66vw;
        text-align: center;
        border-radius:.5vw;
    }

    .submitButton{
        width: 70vw;
        margin-top: 2vh;
        margin-bottom:2vh;
    }
  }