
<div class="not-verified">
    <h1>Pleae verify your account</h1>

    <p>
        Thank you for signing up for Boiler Buy!
    <p>
        Your account has not been verified yet. Before you can buy from boilers
        you must verify your account to prove that you are a Purdue student.
        An email with a verificaiton link should have been sent to you when you
        created an account. If you have lost this email or cannot find it, click
        the button bellow to recieve a new one.
    </p>

    <button (click)="sendNewEmail()">Resend Verification Email</button>

</div>