@media screen and (min-width: 1000px) {
    .create {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .inputContainer {

        padding: 2vw;
        width: 33vw;
        border-radius:1vw;
        margin-bottom: 2vh;
    }

    .groupAdInputBox {

        margin-bottom: 2vh;
        width: 33vw;
        height:9vh;
        border-radius:.5vw;
    }

    .groupAdInputDescription {

        width: 33vw;
        margin-top: 2vh;
        border-radius:.5vw;
    }

    .productInputList{

        width: 33vw;
        margin-top: 2vh;
        border-radius:.5vw;
    }

    .productInputListSelect{
        width: 29vw;
        margin: 1vw;
        margin-bottom: -5vh;
        border-radius:.5vw;
    }

    .groupAdInputCheckbox {
        width: 29vw;
        margin-top: 2vh;

        padding: 2vw;
        border-radius:.5vw;

    }


    .productInputShipping {

        margin-top: 1vh;
        margin-bottom: 2vh;
        width: 21vw;
        border-radius:.5vw;
    }

    .mat-option-text {

    }

    .mat-checkbox-label{
        text-overflow: ellipsis;
    }

    .productUploadPicBox{

        margin-top: 2vh;
        padding: 2vw;
        width: 29vw;
        text-align: center;
        border-radius:.5vw;
    }

    .submitButton{
        width: 29vw;
        margin-top: 2vh;
        margin-bottom:2vh;
    }
}


@media screen and (max-width: 999px) {
    .create {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .inputContainer {
        background-color: #777;
        padding: 2vw;
        width: 70vw;
        border-radius:1vw;
        margin-bottom: 2vh;
    }

    .groupAdInputBox {
        background-color: rgb(146, 144, 144);
        margin-bottom: 2vh;
        width: 70vw;
        height:9vh;
        border-radius:.5vw;
    }

    .groupAdInputDescription {
        background-color: rgb(146, 144, 144);
        width: 70vw;
        margin-top: 2vh;
        border-radius:.5vw;
    }

    .productInputList{
        background-color: rgb(146, 144, 144);
        width: 70vw;
        margin-top: 2vh;
        border-radius:.5vw;
    }

    .productInputListSelect{
        width: 64vw;
        margin: 1vw;
        margin-bottom: -5vh;
        border-radius:.5vw;
    }

    .groupAdInputCheckbox {
        width: 66vw;
        margin-top: 2vh;
        padding: 2vw;
        border-radius:.5vw;
        background-color: rgb(146, 144, 144);
    }


    .productInputShipping {
        background-color: rgb(132, 130, 130);
        margin-top: 1vh;
        margin-bottom: 2vh;
        width: 66vw;
        border-radius:.5vw;
    }

    .mat-option-text {
        background-color: rgb(132, 130, 130);
    }

    .productUploadPicBox{
        background-color: rgb(146, 144, 144);
        margin-top: 2vh;
        padding: 2vw;
        width: 66vw;
        text-align: center;
        border-radius:.5vw;
    }

    .submitButton{
        width: 70vw;
        margin-top: 2vh;
        margin-bottom:2vh;
    }
  }