<app-site-menu></app-site-menu>

<div *ngFor="let chat of allChats; let i = index">
    <mat-card class="example-card">
        <mat-card-header>
            <!-- put a product image here instead -->
            <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            <mat-card-title-group style="width: auto;">
                <mat-card-title>{{chat.otherEmail}}</mat-card-title>
                <mat-card-subtitle>Product: {{chat.productName}}</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button [routerLink]="'/chat-window'" [queryParams]="{
                currEmail: chat.currEmail,
                otherEmail: chat.otherEmail,
                productID: chat.productID
            }">CHAT</button>
        </mat-card-actions>
    </mat-card>
    
    <mat-divider></mat-divider>
</div>
  


