.chat{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}

.chatButton{
    display: flex;
    justify-content: center;
    margin-bottom: 1vh;
}

.prodImage{
    margin-right: 1vw;
    padding: 2px;
    border: 1px solid black;
    border-radius: 5px;
    
}

.userInfo{
    margin-right: 1vw;
}