<app-site-menu></app-site-menu>
<mat-drawer-container autosize>

    <mat-drawer #drawer mode="side">
        <div class="filter-section" >
            <mat-card>
                <h2 style="text-align:center;">Filters</h2>
                <mat-card-content class="filters" #stickyMenu>
                    
                    <section>
                        <mat-checkbox>Min. Price: </mat-checkbox>
                        <input [(ngModel)] = "filters.minPrice" matInput type="number" style="float: right;"><br>
                        <mat-checkbox>Max. Price: </mat-checkbox>
                        <input [(ngModel)] = "filters.maxPrice" matInput type="number" style="float: right;"><br>
                        <mat-checkbox>Min. Seller Rating: </mat-checkbox>
                        <input [(ngModel)] = "filters.minSellerRating" matInput type="number" style="float: right;"><br>
                        <mat-checkbox>Max. Seller Rating: </mat-checkbox>
                        <input [(ngModel)] = "filters.maxSellerRating" matInput type="number" style="float: right;">
                        
                        <div class="form-group">
                            <br>
                            <label for="types">Types:</label>
                            <div *ngFor="let type of types; let i = index">
                                <label>
                                    <mat-checkbox type="checkbox"
                                           name="types"
                                           value="{{type.value}}"
                                           [(ngModel)]="type.checked"></mat-checkbox>
                                    {{type.name}}
                                </label>
                            </div>
                        </div><br>
                        <div class="form-group">
                            <label for="brands">Brands:</label>
                            <div *ngFor="let brand of brands; let i = index">
                                <label>
                                    <mat-checkbox type="checkbox"
                                           name="brands"
                                           value="{{brand.value}}"
                                           [(ngModel)]="brand.checked"></mat-checkbox>
                                    {{brand.name}}
                                </label>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="tags">Tags</label>
                            <div *ngFor="let tag of tagList; let i = index">
                                <mat-checkbox type="checkbox"
                                       name="tags"
                                       value="{{tag.value}}"
                                       [(ngModel)]="tag.checked"></mat-checkbox>
                                {{tag.name}}
                            </div>
                        </div>
                    </section>
                    <br>
                    
                </mat-card-content>
                <button class="filter-button"  mat-raised-button color="primary" (click)="applyFilters()">Apply filters</button>
            </mat-card>
        </div>
    </mat-drawer>

    <br>

    <div class="search-bar-container" #stickyMenu [class.sticky]="sticky">

        <button class="icon-filter" mat-icon-button (click)="drawer.toggle()">
            <mat-icon>filter_list</mat-icon>
        </button>

        <input class="search-bar" matInput (keyup.enter)="buttonSearchClick()" placeholder="Search Products" name="search" [(ngModel)]= "filters.name">

        <button class="icon-search" mat-icon-button (click)="buttonSearchClick()">
            <mat-icon>search</mat-icon>
        </button>
    </div>

    <br>
    

    <div class="main-content">
        <div class="product-listings-container">
            <!-- progress spinner if the user hits search -->
            <mat-card class="progress-spinner" *ngIf="loading === true">
                <mat-card-content>
                    <mat-progress-spinner
                        class="spinner"
                        [color]="color"
                        [mode]="mode">
                    </mat-progress-spinner>
                </mat-card-content>
            </mat-card>

            <!-- basically a for loop for each element in the array 'products' -->
            <app-groupad-listing *ngFor="let ad of groupAds; let i = index" [object]="ad"></app-groupad-listing>
            <app-product-listing *ngFor="let product of products; let i = index" [object]="product"></app-product-listing>
        </div>
    </div>

</mat-drawer-container>