.sticky {
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 10;
}

.mat-drawer {
    position: fixed !important;
    top: 50px;
}

.sticky-sidenav {
    position: fixed;
    top: 0;
    right: auto;
    overflow: hidden;
    z-index: 10;
}

.icon {
    width: auto;
    padding: 5px;
}

.main-content {
    display: flex;
}

.filter-section {
    flex: 20%;
}

.product-listings-container {
    flex: 80%;
}

.search-bar {
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 17px;
    border: none;
    display: flex;
    width: 100%;
    background-color: lightgray;
}

.search-bar-container {
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 17px;
    border: none;
    display: flex;
    width: 100%;
    background-color: lightgray;
}

.progress-spinner {
    width: 100px;
    height: 100px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .topnav a, .search-bar {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .search-bar {
      border: 1px solid #ccc;
    }
}

.spinner {
    margin: 0 auto;
    stroke: black;
}