<div class="picture-upload">
    <form>
        <input type="file"
            id="fileSelectionInput"
            multiple
            accept="image/*"
            (change)="uploadPhotos($event)"
            style="display: none"
            required>
        <a mat-raised-button color="accent" onclick="fileSelectionInput.click()">Upload a Picture</a>
    </form>

    <div *ngFor="let url of getPreviewUrls(); let i = index">
        <img src={{url}} class="preview"/>

        <div *ngIf="!hideX">
            <button (click)="removePhoto($event)" [attr.data-idx]="i">x</button>
        </div>
    </div>
</div>