
<div class="picture-upload">
    <form>
        <input type="file"
            id="fileSelectionInput"
            multiple
            accept="image/*"
            (change)="addFiles($event)"
            style="display: none"
            required>
        <button onclick="fileSelectionInput.click()">Upload a Picture</button>
    </form>

    <!-- Angular go brrrr -->
    <div *ngFor="let file of selectedFiles; let i = index">
        {{ file.name }}
        <img src={{previewUrls[i]}}/>
        <button (click)="removePhoto($event, file.name)">x</button>
    </div>

</div>