table {
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
}

td, th {
    padding-left: 50em;
    border-left:solid black 1px;
    border-top:solid black 1px;
    text-align: left;
}

th {
    background-color: blue;
    border-top: none;
}

td:first-child, th:first-child {
     border-left: none;
}

td {
}