<app-site-menu></app-site-menu>
<h1>{{this.curruser}}'s Shop</h1>

<div *ngFor="let product of productList; let i = index" style="display: flex;">
    <div style="width: 85%;">
        <app-product-listing style="width: auto;" [object]="product" [showButton]="false"></app-product-listing>
    </div>
    <div style="padding: 10px; width: 15%;">
        <button (click)="confirmDelete(product.id)" mat-raised-button color="warn">Delete Item</button>
    </div>
</div>


<app-shop-history-view></app-shop-history-view>

