.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.shopForm {
    background-color: #777;
    padding: 2vw;
    border-radius:1vw;
}

.flexContainer {
    display: flex;
    align-items: center;
}

.shopInputDescription {
    background-color: rgb(146, 144, 144);
    margin-left: 2vw;
    border-radius:1vw;
    display: flex;
    width: 60vw;
}

.shopForm textarea {
    width: 100%;
    height: 100%;
    display: flex;
}

.shopForm app-picture-upload-new {
    background-color: rgb(146, 144, 144);
    width: 25%;
    display: flex;
    border-radius:1vw;
}
