<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<div class="header">
    <h1>Welcome to Boiler Buy!</h1>
</div>
<div class="register">
    <form>
        <div class="inputContainer">
            <label for="username"><b>Username</b></label><br>
            <input [(ngModel)]="accountUsername" type="text" placeholder="Ex: jsmith123" name="username" id="username" required><br>

            <label for="pass"><b>Password</b></label><br>
            <input [(ngModel)]="accountPassword" type="text" placeholder="Enter Password" name="pass" id="pass" required><br>

            <a mat-raised-button color="accent" (click)="login()" type="submit" class="loginBtn">Login</a>
        </div>
        
        <div class="registerContainer">
            <p>New to Boiler Buy? <a href="register">Register Here</a></p>
            <p>Forgot password? <a href="reset-password">Reset Password</a></p>
        </div>

        <div class="retrieveUsernameContainer">
            <p>Forgot your username? <a href="retrieve-username">Click Here</a></p>
        </div>
    </form>
</div>