
<app-site-menu></app-site-menu>

<h1 id="header">{{this.name}}</h1>
<div>
    <div class="container">
        <div class="imageContainer">
            <app-picture-carousel #carousel></app-picture-carousel>
        </div>
        <div class="infoContainer">
            <label id="info">Product Information:</label><br><br>
            <label id="price">Price (USD): {{this.price}}</label><br>
            <label id="shippingPrice">Shipping Price (USD): {{this.shipPrice}}</label><br>
            <label id="stock">Number left in stock: {{this.stock}}</label><br>
            <label id="canMeet">Meetup: {{this.canMeet}}</label><br>
            <label id="canMeet">Ship: {{this.canShip}}</label><br>
            <label id="type">Category: {{this.type}}</label><br>
            <label id="brand">Brand: {{this.brand}}</label><br>
            <div mat-dialog-content>
                Select a location:
            </div>
            <div *ngFor="let location of locationList; let i = index">
                <label>
                    <input type="checkbox"
                           name="location"
                           value="{{location.value}}"
                           [(ngModel)]="location.checked"/>
                    {{location.location}}
                </label>
            <div class="form-group">
                <label for="tags">Tags:</label>
                <div *ngFor="let tag of tags; let i = index">
                    <button mat-raised-button id="${tag}" (click)="saveTag(tag)">{{tag}}</button>
                </div>
            </div>
            </div>
            
        </div>
    </div>
    <div class="descriptionContainer">
        <label>Description:</label>
        <textarea rows="10" cols="50" readonly>{{this.description}}</textarea>
    </div>
    <br><button (click)="buy()" type="submit" class="buyBtn">Buy</button>
</div>