// .purchaseButton{
//     display: flex; 
//     justify-content: right;
//     margin-right: 1vw;
// }

.card{
    padding-bottom: 6vh;
}

.preview {
    display: flex;
    flex-direction: column;
    height: 10em;
    width: 10em
}

.name_seller_rating {
    display: flex;
    flex-direction: column;
}

.viewBtn {
    align-items: center;
    display: inline-block;
    width: 25%;
    margin: 10px;
}

.rating {
    display: flex;
    align-items: center;
    margin-left:1vw;
}

.column {
    float: left;
    margin-left: 2vw;
    width: 15%;
    

}

.icon-text {
    display: flex;
    align-items: center;
}

.purchase {
    display: flex; 
    justify-content: right;
    margin: 1vw;
}

h2 {
    margin-left:1vw;
}