.card {
    border: 2px solid darkgrey;;
    border-width: 1px;
    border-radius: 25px;
    padding: 10px;
    margin: 2%;
}

.name_seller_rating {
    display: flex;

    flex-direction: column;
}

.viewBtn {
    align-items: center;
    display: inline-block;
    width: 25%;
    margin: 10px;
}

.rating {
    display: flex;
    align-items: center;
    margin-left:1vw;
}

.icon-text {
    display: flex;
    align-items: center;
}

.purchase {
    display: flex; 
    justify-content: right;
    margin: 1%;
}

h2 {
    margin-left:1vw;
}