.purchaseButton{
    display: flex; 
    justify-content: right;
    margin-right: 1vw;
}

.preview {
    display: flex;
    flex-direction: column;
    height: 10em;
    width: 10em
}

.name_seller_rating {
    display: flex;
    flex-direction: column;
}

.viewBtn {
    align-items: center;
    display: inline-block;
    width: 25%;
    margin: 10px;
}

.rating {
    display: flex;
    align-items: center;
    margin-left:1vw;
}

.icon-text {
    display: flex;
    align-items: center;
}

.purchase {
    display: flex; 
    justify-content: right;
    margin: 1vw;
}

h2 {
    margin-left:1vw;
}