<div style="text-align:center;">
    <h1 mat-dialog-title>Confirm</h1>
    <h3>Seller's price: ${{data.priceDollars}}.{{(data.priceCents < 10) ? "0" + data.priceCents : data.priceCents}} (each)</h3>
    <p>If you would like to try to negotiate the price, enter a new price below.</p>
    <h4>My asking price:</h4>
    $<input matInput type="number" min="0" matinput [(ngModel)]= "askingPriceDollars">.
    <input  style="width: 12%;" matInput type="number" *ngIf="askingPriceCents < 10" min="0" max="99" matinput [(ngModel)]= "'0' + askingPriceCents">
    <input style="width: 12%;" matInput type="number" *ngIf="askingPriceCents >= 10" min="0" max="99" matinput [(ngModel)]= "askingPriceCents">
<br><br>
    <div mat-dialog-content>
        Select a quantity and hit confirm to initiate contact with the seller.
    </div>

    <input matInput type="number" min="0" matinput [(ngModel)]= "numToBuy">
    
    <div style="text-align: center;" mat-dialog-actions>
    <button mat-raised-button color="primary" [mat-dialog-close]="false">Cancel</button>
    <button *ngIf="isConfirmShow()" mat-raised-button color="primary" [mat-dialog-close]="{'numToBuy': this.numToBuy, 'askingPriceDollars': this.askingPriceDollars, 'askingPriceCents': this.askingPriceCents}" cdkFocusInitial>Confirm</button>
    </div>
</div>