<app-site-menu></app-site-menu>
<div class="header">
    <h1>Change Password Page</h1>
</div>

<div class="inputContainer">
    <label for="pass"><b>Old Password</b></label><br>
    <input id="old-password" [(ngModel)]="oldPassword" placeholder="Enter Old Password" type="text">
    <br>
    <label for="pass2"><b>New Password</b></label><br>
    <input id="new-password" [(ngModel)]="newPassword" placeholder="Enter New Password" type="text">
    <br>
    <label for="pass2"><b>Repeat Password</b></label><br>
    <input id="new-password" [(ngModel)]="repeatPassword" placeholder="Confirm New Password" type="text">
    <br>
    <button mat-raised-button type="button" (click)="updatePasswordInfo()"> Submit</button>
</div>
