
h1{
    text-align: center;
}

label{
    text-align: center;
}

.reviewContainer {
    display: flex;
    width: 50%;
    margin:auto;
    flex-direction: column;
}

.ratingContainer {
  text-align: center;
}

.submitBtn {
  width: 5%;
  margin:auto;
  display:flex;
}

.submitBtn:hover {
  opacity:0.8;
}