<div class="header">
    <h1>Leave a review for: {{this.user}}</h1>
</div>
<div class="register">
    <form>
        <div class="ratingContainer">
            <label>Select a rating: </label>
            <select #ratings (change)="onSelected(ratings.value)">
                <option default>1.0</option>
                <option>1.5</option>
                <option>2.0</option>
                <option>2.5</option>
                <option>3.0</option>
                <option>3.5</option>
                <option>4.0</option>
                <option>4.5</option>
                <option>5.0</option>
            </select>
        
        </div><br>
        <div class="reviewContainer">
            <label for="Review"><b>Review Description</b></label><br>
            <textarea [(ngModel)]="reviewDescription" id="reviewDescription" name="reviewDescription" rows="10" cols="50"></textarea><br>
        </div>
        <div>
            <button (click)="submitReview()" type="submit" class="submitBtn" id="submitBtn">Submit</button>
        </div>
        
    </form>
</div>