<div class="header">
    <h1>Registration Page</h1>
</div>
<div class="register">
    <form>
        <div class="inputContainer">
            <label for="username"><b>Username</b></label><br>
            <input [(ngModel)]="accountUsername" type="text" placeholder="Ex: jsmith123" name="username" id="username" required><br>

            <label for="email"><b>Email</b></label><br>
            <input [(ngModel)]="accountEmail" type="text" placeholder="Enter Email" name="email" id="email" required><br>
        
            <label for="pass"><b>Password</b></label><br>
            <input [(ngModel)]="accountPassword" type="text" placeholder="Enter Password" name="pass" id="pass" required><br>
        
            <label for="pass2"><b>Repeat Password</b></label><br>
            <input [(ngModel)]="accountRepeatPassword" type="text" placeholder="Enter Password" name="pass2" id="pass2" required><br>
        
            <button (click)="registerAccount()" type="submit" class="registerBtn">Register</button>
            <p>Need to Implement Adding to Database</p>
        </div>
        
        <div class="loginContainer">
            <p>Already have an account? <a href="http://localhost:4200/login">Sign in</a>.</p>
            <p>Need to send back to login page.</p>
        </div>
        <div class="changeUsernameContainer">
            <label for="username"><b>Email</b></label><br>
            <input [(ngModel)]="accountChangeUsernameEmail" type="text" placeholder="Ex: jsmith123" name="username" id="username" required><br>
            <label for="username"><b>New Username</b></label><br>
            <input [(ngModel)]="accountChangeUsername" type="text" placeholder="Ex: jsmith123" name="username" id="username" required><br>
            <button (click)="changeUsername()" type="submit" class="changeUsernameBtn">changeUsernameBtn</button>
            <p>Need to move to Michelle's Page</p>
        </div>
    </form>
</div>