

<div>
    <!-- three buttons per line-->
    <button class="purchase-history-button">Purchase History</button>
    <button class="selling-history-button">Selling History</button>
    <button (click)="routeUserWishlist()" class="wishlist">Wishlist</button>
    <button class="chats-button">Chats</button>
</div>

<div>
    <!-- three buttons per line-->
    <button class="post-new-product-button">Post New Product</button>
    <button class="add-venmo-tag-button">Add Venmo Tag</button>
    <button class="view-current-ads-button">View Current Ads</button>
</div>

<div>
    <!-- three buttons per line-->
    <button (click)="routePurchaseHistory()" class="purchase-history-button">Purchase History</button>
</div>