.features {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:-9vh;
    text-align: center;
}

.chats-button{
    margin:1vw;
}
.view-current-ads-button{
    margin:1vw;
}