<app-site-menu></app-site-menu>
<div class="header">
    <h1>Change Username Page</h1>
</div>

<div class="inputContainer">
    <label for="email"><b>Email</b></label><br>
    <input [(ngModel)]="email" type="text" placeholder="" name="username" id="username" required><br>
    <label for="username"><b>New Username</b></label><br>
    <input [(ngModel)]="newUsername" type="text" placeholder="Ex: jsmith123" name="username" id="username" required><br>
    <button mat-raised-button color="accent" (click)="changeUsername()" type="submit" class="changeUsernameBtn">Change Username</button>
</div>