.messagebox-form {
    /* min-width: 150px;
    max-width: 500px; */
    width: auto;
    padding: 15px;
}

.messagebox-full-width {
    width: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 118px;
    background-color: lightgrey;
}

.content {
    padding: 15px;
    position: relative;
}

.content::after {
    content: '';
    display: block;
    height: 118px; /* Set same as footer's height */
}

.mat-drawer {
    position: fixed !important;
}

.sticky-sidenav {
    position: fixed;
    top: 0;
    right: auto;
    overflow: hidden;
    z-index: 10;
}

  
.headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
    
}

img {
    width: 8em;
    height:8em;
}