<mat-drawer-container autosize>
    <mat-drawer #drawer mode="side">
        <button type="button" color="primary" mat-button (click)="drawer.toggle()" style="float: right;">
            <mat-icon>chevron_right</mat-icon>
        </button>

        <!-- Drawer that comes from the side -->
        <div *ngIf="isSeller">
            <!-- Seller dashboard -->
            <h1>You are the seller</h1>
            <!-- <button mat-raised-button color="primary">Primary</button> -->

            <mat-accordion class="headers-align">
                <mat-expansion-panel *ngIf="canShip">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Tracking Information
                        </mat-panel-title>
                        <mat-panel-description>
                            Add tracking info for shipping
                            <mat-icon>local_shipping</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-form-field appearance="fill">
                        <mat-label>Tracking URL</mat-label>
                        <input matInput [(ngModel)]="trackingLink" type="url">
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Tracking Number</mat-label>
                        <input matInput [(ngModel)]="trackingNum" >
                    </mat-form-field>
                    <button mat-button (click)="saveTrackingNumber()" style="border-style:solid;">Apply Changes</button>
                </mat-expansion-panel>

                <mat-divider></mat-divider>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Negotiation Status
                        </mat-panel-title>
                        <mat-panel-description>
                            Negotiate with the buyer
                            <mat-icon>point_of_sale</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <!-- <mat-form-field appearance="fill"> -->
                        <mat-form-field appearance="fill">
                            <mat-label>Price per unit</mat-label>
                            <input matInput type="number" [(ngModel)]="price" min="0">
                        </mat-form-field>
                    <!-- </mat-form-field> -->

                    <!-- <mat-form-field appearance="fill"> -->
                        <mat-form-field appearance="fill">
                            <mat-label>Quantity</mat-label>
                            <input matInput type="number" [(ngModel)]="quantityToBuy" min="1">
                        </mat-form-field>
                    <!-- </mat-form-field> -->

                    <!-- <mat-form-field appearance="fill"> -->
                    <div style="flex-direction:column">

                        <mat-slide-toggle *ngIf="canShip" [(ngModel)]="isShipping">{{(isShipping) ? "Shipping" : "Not Shipping"}}</mat-slide-toggle>
                        <mat-form-field *ngIf="isShipping" appearance="fill">
                            <mat-label>Shipping price</mat-label>
                            <input  matInput type="number" min="0">
                        </mat-form-field>
                        

                    <!-- </mat-form-field> -->
                    </div>


                    <button mat-button (click)="negotiate()" style="border-style:solid;">Apply</button>

                </mat-expansion-panel>
                <mat-divider></mat-divider>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Send Venmo Tag
                        </mat-panel-title>
                        <mat-panel-description>
                            Send your Venmo Tag for quick and easy access!
                            <mat-icon>alternate_email</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-form-field appearance="fill">
                        <input matInput color="primary" [(ngModel)]="sellerVenmoTag" disabled>
                    </mat-form-field>

                    <button mat-button (click)="triggerVenmoTags()" appearance="fill" style="border-style:solid;">
                        Send Venmo Tag
                    </button>

                </mat-expansion-panel>

                <mat-divider></mat-divider>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Finalize Price
                        </mat-panel-title>
                        <mat-panel-description>
                            Reply with your decision, or give a minimum amount that you will go
                            <mat-icon>check</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>


                        
                            <mat-slide-toggle [(ngModel)]="willAccept">{{(willAccept) ? "Accept" : "Decline"}}</mat-slide-toggle>



                    <mat-form-field *ngIf="!willAccept" appearance="fill">
                        <!-- <mat-form-field appearance="fill"> -->
                            <mat-label>Minimum Price:</mat-label>
                            <input matInput [(ngModel)]="sellerMin" type="number" min="1" placeholder="{{(willAccept)? '' : 'Reply with a minimum'}}">
                        <!-- </mat-form-field> -->
                    </mat-form-field>


                    

                    <button mat-button (click)="sendDecision()" style="border-style:solid;">Apply</button>

                </mat-expansion-panel>
                <mat-divider></mat-divider>

            </mat-accordion>

        </div>
        <div *ngIf="!isSeller">
            <!-- Buyer dashboard -->
            <h1>You are the buyer</h1>

            <mat-accordion class="headers-align">
                <mat-expansion-panel *ngIf="canShip">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Tracking Information
                        </mat-panel-title>
                        <mat-panel-description>
                            Add tracking info for shipping
                            <mat-icon>local_shipping</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-form-field appearance="fill">
                        <mat-label>Tracking URL</mat-label>
                        <input matInput disabled [(ngModel)]="trackingLink" type="url">
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Tracking Number</mat-label>
                        <input matInput disabled [(ngModel)]="trackingNum">
                    </mat-form-field>
                </mat-expansion-panel>

                <mat-divider></mat-divider>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Negotiation Status
                        </mat-panel-title>
                        <mat-panel-description>
                            Request a new price
                        <mat-icon>point_of_sale</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <!-- <mat-form-field appearance="fill"> -->
                    <mat-form-field appearance="fill">
                        <mat-label>Negotiate</mat-label>
                        <input matInput type="url">
                    </mat-form-field>
                <!-- </mat-form-field> -->
            </mat-expansion-panel>
            <mat-divider></mat-divider>

            </mat-accordion>
        </div>
        
    </mat-drawer>

    <div style="height: 100%;">
        <div class="header">
            <app-site-menu></app-site-menu>
            <br>
            <br>
            <button type="button" color="primary" mat-button (click)="drawer.toggle()">
                <mat-icon>settings</mat-icon>Settings
            </button>
            <h1>Product #{{chatInfo.productID}}</h1>
            <div style="display:flex;">
                <!-- header for the chat -->
            </div>
            
        </div>

        <div class="content">
            <!-- Main content -->
            <!-- Put loading wheel here while it loads the conversation -->
            <!-- Put scroll bar here? -->
            <mat-list class="message-list">
                <div *ngFor="let item of messages; let i = index">
                    <span *ngIf="item.image != null && item.image != ''; else invalidImage1">
                        <img mat-card-sm-image src="/media/{{item.image}}">
                    </span>
                    <ng-template #invalidImage1>
                        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                    </ng-template>
                    <div style="display: flex; flex-direction: row;">
                        <mat-list-item><b>{{item.name}}</b>: {{item.message}}</mat-list-item>
                        <p>{{item.date}}</p>
                    </div>
                    
                    <mat-divider></mat-divider>
                </div>
            </mat-list>
        </div>

        <div class="footer">
            <!-- footer w/ text box -->
            <form class="messagebox-form">
                <mat-form-field class="messagebox-full-width" appearance="outline">
                    <mat-label>Message</mat-label>
                    <input matInput #message maxlength="256" placeholder="Ex. Is this item still for sale?" autocomplete="off">
                    <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
                    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                    <button matSuffix type="submit" (click)="sendMessage(message.value); message.value = '';"><mat-icon>send</mat-icon></button>
                </mat-form-field>
            </form>
        </div>
    </div>

</mat-drawer-container>
